
@media(min-width:769px){

    .ExclusiveDeals{
        width:100%;
        height:100vh;
        
    }

    .ExclusiveDeals_DivOne{
        height:30vh;
        width:100%;
     
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:3vh;

    }

    .ExclusiveDeals_DivTwo{
        height:70vh;
        width:100%;
      
        display:flex;
        justify-content:center;
        align-items:center;
        gap:4vh;
      
     
     
      
    }

    .Eswiper{
        /* position:relative; */
        width:100%;
        height:80%;
    }
  

   

    .E_Cart{
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding:1vw;
    }







    .E_Cart_firstRow{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .E_Cart_secondRow{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }



}




/*--------- mobile View --------------    */

@media (max-width:768px){
    .ExclusiveDeals{
        width:100%;
        height:120vh;
        
    }

    .ExclusiveDeals_DivOne{
        height:30vh;
        width:100%;
    
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:3vh;
        text-align:center;
        padding:5px;

    }

    .ExclusiveDeals_DivTwo{
        height:70vh;
        width:100%;
     
        display:flex;
        justify-content:center;
        align-items:center;
        gap:4vh;
      
     
     
      
    }

    .Eswiper{
        /* position:relative; */
        width:100%;
        height:100%;
    }


   

    .E_Cart{
        width:100%;
        height:100%;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
   
       
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:2vh;
        padding:125px;
     
     
    }
 






    .E_Cart_firstRow{
        width:100%;
        height:100%;
        display:flex;
        justify-content:space-around;
        align-items:center;
        gap:21vw;
      
    }

    .E_Cart_secondRow{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:10vw;
       
    }

}